{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container mt-5">
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-secondary text-white">
    </form>
    <a href="{% url 'social:begin' 'github' %}" class='text-white'><button class="btn btn-secondary">Login With GitHub</button></a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-white"><button class="btn btn-secondary">Login With Google</button></a>
</div>
{% endblock body %}