{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container mt-5">
    <h1>Featiures of this django template</h1>
    <ul>
        <li>Custom User Model</li>
        <li>Configured for static files and media files</li>
        <li>Login and Logout System</li>
        <li>User Profile and profile update</li>
        <li>Production quality email smtp configuration</li>
        <li>Password Reset System</li>
        <li>Contact Us system</li>
        <li>Use of django crispy forms</li>
    </ul>

</div>
{% endblock body %}